<div class="col-10 offset-1 about">
  <h1>About Splurty For A Good Cause</h1>

<p>
    Splurty was built by <a target="_blank" href="http://github.com/alifmomin1">Alif</a>. An up and coming web developer dedicated to making his own non-profit organization; That would help provided a better future for people around the world that did not have anything close to what he had growing up.
  </p>
  <br />
  <p>
    The ultimate goal was to make sure everyone around the world didn't feel left out and felt important and cared for. Words Alif lived by were "Life is what you make it, so why not make it full of happiness and postivity!". This dedication Alif had made him take a first step towards creating his own website; Which would soon turn into the very first steps in his journey to spread the happiness and positivity around the world.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Alif.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Alif Momin</h2>
      <p>
        Alif Momin is a web developer that has learned coding from scratch to help him better understand the components a normal user browsing a website would not see. His passion is technology as a whole; From phones to spaceships, Alif want's to learn it all and will not stop learning till his head is as big as Mega Mind's
      </p>
    </div>
  </div>
  <br class="clear" />

 


</div>

<br class="clear" />
<br />
<br />
<br />
<br />